@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ISE Hotel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ISE Hotel - Relax and Rejuvenate" />
    <meta name="keywords" content="hotel, luxury, rooms, booking" />
    <meta name="author" content="ISE Hotel" />

    <link href="//fonts.googleapis.com/css?family=Roboto+Sans:400,700|Playfair+Display:400,700" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/jquery.timepicker.css">
    <link rel="stylesheet" href="/css/fancybox.min.css">
    <link rel="stylesheet" href="/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/style.css">

    @RenderSection("Styles", required: false)
</head>
    <body class="landing-page">
        <header class="site-header" style="background: transparent;">
            <div class="container-fluid">
                <div class="row navbar-container align-items-center">
                    <div class="col-12 col-md-4 site-logo" data-aos="fade">
                        <a href="@Url.Action("Index", "LandingPage")" style="color: #fff; font-size: 30px;">ISE Hotel</a>
                    </div>
                    <div class="col-12 col-md-8">
                        <nav role="navigation">
                            <ul class="list-unstyled menu d-flex justify-content-end align-items-center mb-0">
                                <li class="mx-2"><a href="@Url.Action("Index", "LandingPage")" style="color: #fff;">Home</a></li>
                                <li class="mx-2"><a href="@Url.Action("Rooms", "LandingPage")" style="color: #fff;">Rooms</a></li>
                                <li class="mx-2"><a href="@Url.Action("Reservations", "LandingPage")" style="color: #fff;">Reservation</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

    <main role="main">
        @RenderBody()
    </main>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="/js/jquery.fancybox.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/jquery.timepicker.min.js"></script>
    <script src="/js/main.js"></script>



    <script>
        let lastScrollTop = 0;
        window.addEventListener('scroll', function() {
          let currentScroll = window.pageYOffset || document.documentElement.scrollTop;
          let header = document.querySelector('.site-header');
          if (currentScroll > lastScrollTop) {
            header.style.transform = 'translateY(-100%)';
          } else {
            header.style.transform = 'translateY(0)';
          }
          lastScrollTop = currentScroll <= 0 ? 0 : currentScroll;
        }, false);
    </script>



    @RenderSection("Scripts", required: false)
    <footer class="section footer-section">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-3 mb-5">
                    <ul class="list-unstyled link">
                        <li><a href="terms.html">Terms &amp; Conditions</a></li>
                        <li><a href="privacy.html">Privacy Policy</a></li>
                        <li><a href="@Url.Action("Rooms", "LandingPage")">Rooms</a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-5 pr-md-5 contact-info">
                    <p><span class="d-block"><span class="ion-ios-location h5 mr-3 text-primary"></span>Address:</span> <span>Dhermi, Albania </span></p>
                    <p><span class="d-block"><span class="ion-ios-telephone h5 mr-3 text-primary"></span>Phone:</span> <span>+355691010500</span></p>
                    <p><span class="d-block"><span class="ion-ios-email h5 mr-3 text-primary"></span>Email:</span> <span>info@isehotel.com </span></p>
                </div>
            </div>
            <div class="row pt-5">
                <p class="col-md-6 text-left">
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | ISE Hotel
                </p>
            </div>
        </div>
    </footer>
</body>
</html>
