<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HotelManagementISE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HotelManagementISE.styles.css" asp-append-version="true" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HotelManagementISE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#signUpModal">Sign Up</button>
                        </li>
                        <li class="nav-item">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#logInModal" >Log in</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="modal fade" tabindex="-1" id="signUpModal" aria-labelledby="signUpModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-controller="Auth" asp-action="Register" method="post" id="signUpForm">
                        @Html.AntiForgeryToken()
                        <div>
                            <label for="name" class="form-label">Name:</label>
                            <input type="text" id="name" name="emer" placeholder="Enter name" class="form-control" required />
                        </div>
                        <div>
                            <label for="surname" class="form-label">Username:</label>
                            <input type="text" id="surname" name="mbiemer" placeholder="Enter surname" class="form-control" required />
                        </div>
                        <div>
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" id="email" name="email" placeholder="Enter email" class="form-control" required />
                        </div>
                        <div>
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" id="password" name="password" placeholder="Enter password" class="form-control" required />
                        </div>
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </form>
                    @if (TempData["Error"] != null)
                    {
                        <div class="text-danger">@TempData["Error"]</div>
                    }

                </div>

            </div>
        </div>
    </div>
    
    <div class="modal fade" tabindex="-1" id="logInModal" aria-labelledby="signUpModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Log In</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-controller="Auth" asp-action="Login" method="post" id="LogInForm">
                        <div>
                            <label for="username" class="form-label">Username:</label>
                            <input type="text" name="email" placeholder="Your username" class="form-control" required />
                        </div>
                        <div>
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" name="password" placeholder="Enter your password" class="form-control" required />
                        </div>
         
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                    @if (TempData["Error"] != null)
                    {
                        <div>@TempData["Error"]</div>
                    }

                </div>

            </div>
        </div>
    </div>
    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - HotelManagementISE - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
